<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8"/>
		<title>Forte Music Community - Home</title>
		<link rel="stylesheet" href="/static/base.css">
		<link rel="stylesheet" href="/static/skeleton.css">
		<link rel="stylesheet" href="/static/navigation.css">
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="/static/login.js" type="text/javascript"></script>		
	</head>
	<body>
		<div class="container">
			<div class="sixteen columns top">
				<div class="six columns alpha">
					<div class="logo">
						<a href="http://www.forte-music-community.appspot.com">
							<img src="/static/images/logo.png" alt="Forte Music">
						</a>					
					</div>
				</div>
				<div class="ten columns omega">
					<nav>
						{% if user %}
						<h7 id="user">Welcome <a href="/profile/{{username}}">{{username}}</a></h7>
						{% endif %}
						<ul>
							<li><a href="http://www.forte-music-community.appspot.com">Home</a></li>
							{% if user %}
							<li><a href="http://www.forte-music-community.appspot.com/events">Events</a></li>
							<li><a href="http://www.forte-music-community.appspot.com/forum/home">Forum</a></li>
							<li>| <a href="http://www.forte-music-community.appspot.com/editprofile">Edit Profile</a></li>	
							<li>
								<form action="/logout" method="post">
									<input type="hidden" name="check" value="{{check}}">
									<input type="submit" name="Logout" value="Logout">
								</form>
							</li>
							{% endif %}
						</ul>
					</nav>
				</div>			
			</div>

			<div class="sixteen columns">
				<h2>About</h2>
				<p>Forte music is an online community for professional musicians. Here are some of the things you can do once registered:
					<ul>
						<li>Create Events</li>
						<li>RSVP to Events</li>
						<li>Create a profile and add Soundcloud widgets</li>
						<li>Create Threads</li>
						<li>Reply to threads and posts</li>
					</ul>
				</p>
				<h2>Team</h2>
				<p>This project was part of an undergraduate term project.</p>
				<ul>
					<li>Tim Gaweco - Developer/Designer</li>
					<li>Constance Chung - Researcher/Designer</li>
					<li>Mandeep Lotay - Researcher/Developer</li>
					<li>Omar Abduljalil - Researcher</li>
					<li>Shahriar Reza - Researcher</li>
				</ul>
				<h2>References</h2>
				<p>We analyzed pre-existing systems to drive the requirements generated for our system. Some references:</p>
				<ul>
					<li><a href="http://www.purevolume.com">www.purevolume.com</a></li>
					<li><a href="http://www.unsigned.com">www.unsigned.com</a></li>
				</ul>
				<h2>Other Places to Check Out</h2>
				<p>If you like music, check out these other sites</p>
				<ul>
					<li><a href="http://www.soundcloud.com">www.soundcloud.com</a></li>
					<li><a href="http://www.lastfm.com">www.lastfm.com</a></li>
				</ul>
			</div>

			<div class="sixteen columns bottom">
				<footer>
					<p class="left">
						<a href="/about">About</a> |
						<a href="/contact">Contact</a>
					</p>
					<p class="right">Made in Toronto <img src="/static/images/canada.png" alt="Canada"></p>	
				</footer>
			</div>
		</div>
		
	</body>
</html>