<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8"/>
		<title>Forte Music Community - Home</title>
		<link rel="stylesheet" href="/static/base.css">
		<link rel="stylesheet" href="/static/skeleton.css">
		<link rel="stylesheet" href="/static/navigation.css">
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="/static/login.js" type="text/javascript"></script>		
	</head>
	<body>
		<div class="container">
			<div class="sixteen columns top">
				<div class="six columns alpha">
					<div class="logo">
						<a href="http://www.forte-music-community.appspot.com">
							<img src="/static/images/logo.png" alt="Forte Music">
						</a>					
					</div>
				</div>
				<div class="ten columns omega">
					<nav>
						{% if user %}
						<h7 id="user">Welcome <a href="/profile/{{username}}">{{username}}</a></h7>
						{% endif %}
						<ul>
							<li><a href="http://www.forte-music-community.appspot.com">Home</a></li>
							{% if user %}
							<li><a href="http://www.forte-music-community.appspot.com/events">Events</a></li>
							<li><a href="http://www.forte-music-community.appspot.com/forum/home">Forum</a></li>
							<li>| <a href="http://www.forte-music-community.appspot.com/editprofile">Edit Profile</a></li>	
							<li>
								<form action="/logout" method="post">
									<input type="hidden" name="check" value="{{check}}">
									<input type="submit" name="Logout" value="Logout">
								</form>
							</li>
							{% endif %}
						</ul>
					</nav>
				</div>			
			</div>

			<div class="sixteen columns">
				<h2>Contact</h2>
				<p>If you have any questions, feel free to email us at <a href="mailto:forte-music@gmail.com">forte-music@gmail.com</a></p>
			
			</div>

			<div class="sixteen columns bottom">
				<footer>
					<p class="left">
						<a href="/about">About</a> |
						<a href="/contact">Contact</a>
					</p>
					<p class="right">Made in Toronto <img src="/static/images/canada.png" alt="Canada"></p>	
				</footer>
			</div>
		</div>
		
	</body>
</html>